/*---===<<< GRID >>>===---*/
[class*="col-"] {
    float: left;
    padding: @gutter;
}
/*---=== XS ===---*/
.col-xs {
    &-1 {
        width: calc(1/12*100%);
    }
    &-2 {
        width: calc(2/12*100%);
    }
    &-3 {
        width: calc(3/12*100%);
    }
    &-4 {
        width: calc(4/12*100%);
    }
    &-5 {
        width: calc(5/12*100%);
    }
    &-6 {
        width: calc(6/12*100%);
    }
    &-7 {
        width: calc(7/12*100%);
    }
    &-8 {
        width: calc(8/12*100%);
    }
    &-9 {
        width: calc(8/12*100%);
    }
    &-10 {
        width: calc(10/12*100%);
    }
    &-11 {
        width: calc(11/12*100%);
    }
    &-12 {
        width: calc(12/12*100%);
    }
}
/*---=== SM ===---*/
@media @mediaSM {
    .col-sm {
        &-1 {
            width: calc(1/12*100%);
        }
        &-2 {
            width: calc(2/12*100%);
        }
        &-3 {
            width: calc(3/12*100%);
        }
        &-4 {
            width: calc(4/12*100%);
        }
        &-5 {
            width: calc(5/12*100%);
        }
        &-6 {
            width: calc(6/12*100%);
        }
        &-7 {
            width: calc(7/12*100%);
        }
        &-8 {
            width: calc(8/12*100%);
        }
        &-9 {
            width: calc(8/12*100%);
        }
        &-10 {
            width: calc(10/12*100%);
        }
        &-11 {
            width: calc(11/12*100%);
        }
        &-12 {
            width: calc(12/12*100%);
        }
    }
}
/*---=== MD ===---*/
@media @mediaMD {
    .col-md {
        &-1 {
            width: calc(1/12*100%);
        }
        &-2 {
            width: calc(2/12*100%);
        }
        &-3 {
            width: calc(3/12*100%);
        }
        &-4 {
            width: calc(4/12*100%);
        }
        &-5 {
            width: calc(5/12*100%);
        }
        &-6 {
            width: calc(6/12*100%);
        }
        &-7 {
            width: calc(7/12*100%);
        }
        &-8 {
            width: calc(8/12*100%);
        }
        &-9 {
            width: calc(8/12*100%);
        }
        &-10 {
            width: calc(10/12*100%);
        }
        &-11 {
            width: calc(11/12*100%);
        }
        &-12 {
            width: calc(12/12*100%);
        }
    }
}/*---=== LG ===---*/
@media @mediaLG {
    .col-lg {
        &-1 {
            width: calc(1/12*100%);
        }
        &-2 {
            width: calc(2/12*100%);
        }
        &-3 {
            width: calc(3/12*100%);
        }
        &-4 {
            width: calc(4/12*100%);
        }
        &-5 {
            width: calc(5/12*100%);
        }
        &-6 {
            width: calc(6/12*100%);
        }
        &-7 {
            width: calc(7/12*100%);
        }
        &-8 {
            width: calc(8/12*100%);
        }
        &-9 {
            width: calc(8/12*100%);
        }
        &-10 {
            width: calc(10/12*100%);
        }
        &-11 {
            width: calc(11/12*100%);
        }
        &-12 {
            width: calc(12/12*100%);
        }
    }
}
/*---=== XL ===---*/
@media @mediaXL {
    .col-xl {
        &-1 {
            width: calc(1/12*100%);
        }
        &-2 {
            width: calc(2/12*100%);
        }
        &-3 {
            width: calc(3/12*100%);
        }
        &-4 {
            width: calc(4/12*100%);
        }
        &-5 {
            width: calc(5/12*100%);
        }
        &-6 {
            width: calc(6/12*100%);
        }
        &-7 {
            width: calc(7/12*100%);
        }
        &-8 {
            width: calc(8/12*100%);
        }
        &-9 {
            width: calc(8/12*100%);
        }
        &-10 {
            width: calc(10/12*100%);
        }
        &-11 {
            width: calc(11/12*100%);
        }
        &-12 {
            width: calc(12/12*100%);
        }
    }
}