/*---===<<< SAMPLE FORM ELEMENTS >>>===---*/

> div {
    margin: 0 0 1.5rem;
    position: relative;
}
/*---=== LABELS ===---*/
label {
    display: block;
    margin: 0 0 .5rem;
}
/*---=== INPUTS ===---*/
/*--- TEXT ---*/
input {
    display: block;
    padding: 1rem 1.5rem;
    border: 1px solid @grey;
    width: 100%;
}
/*--- CHECKBOX AND RADIOS ---*/
input[type="checkbox"], input[type="radio"] {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    
    + label {
        padding: 0 0 0 30px;
        
        &:before {
            height: 1.6rem;
            width: 1.6rem;
            border: .2rem solid @grey;
            background: @white;
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            .translate(0, -50%);
        }
    }
    
    &:checked {
        + label {
            &:before {
                background: @grey;
                .inset-box-shadow(@color: @white, @s: 2px, @h: 0, @v: 0, @b: 0);
            }
        }
    }
}
/* RADIOS */
input[type="radio"] {
    + label {
        &:before {
            .border-radius(100%);
        }
    }
}
/*--- BUTTONS ---*/
input[type="submit"], input[type="reset"], input[type="button"], button {
    padding: 10px 15px;
    .border-radius(0);
    width: auto;
    display: inline-block;
    background: fade(@grey, 50);
    color: darken(@grey, 50);
    border: 1px solid @grey;
}
/*---=== TEXTAREAS ===---*/
textarea {
    padding: 1rem 1.5rem;
    border: 1px solid @grey;
    width: 100%;
}
/*---=== SELECT ===---*/
select {
    padding: 1rem 1.5rem;
    border: 1px solid @grey;
    width: 100%;
}
